<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
    <title>Create New Recipe</title>
</head>
<body>
    <div class="nav">
        <h1>Update {{recipe.name}}</h1>
        <div clas="links">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <form action="/update_process/{{recipe.id}}" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{recipe.name}}">
                <label for="description">Description</label>
                <textarea name="description" id="" cols="30" rows="8">{{recipe.description}}</textarea>
                <label for="instruction">instruction</label>
                <textarea name="instruction" id="" cols="30" rows="8">{{recipe.instruction}}</textarea>
                <label for="date">Date:</label>
                <input type="date" name="date" value="{{recipe.date}}">
                <label for="time">Under 30 Minutes?</label>
                <input type="radio" name="time" value="Yes">Yes
                <input type="radio" name="time" value="No">No
                
                <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>