<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>User {{user.id}}</h1>
    <h3>Full Name: {{user.first_name}} {{user.last_name}}</h3>
    <h3>Email: {{user.email}}</h3>
    <h3>Created On: {{user.created_at}}</h3>
    <h3>Last Updated On: {{user.updated_at}}</h3>
    <p>
        <span><a href="/update/{{user.id}}">Edit</a></span>
        | 
        <span><a href="/delete/{{user.id}}">Delete</a></p></span>
</body>
</html>